mat-dialog-content {
    padding: 24px;
    min-width: 300px;
  }
  
  mat-dialog-actions {
    padding: 8px 24px;
    text-align: right;
  }
  
  button[mat-button] {
    color: #3f51b5;
  }
  
  button[mat-button].red-button {
    color: red;
  }
