<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-logo" [routerLink]="['/']">
      <img src="../assets/wtw_logo.png" alt="Logo" />
    </a>
    <ul class="navbar-menu">
      <li class="navbar-item">
        <a class="navbar-link" [routerLink]="['/policies']" routerLinkActive="active">Policy List</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" [routerLink]="['/add-policy']" routerLinkActive="active">Add Policy</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet/>